/* sidebar start */

.sidebarc {
    width: 300px;
    height: 100%;
    border-right: 1px solid rgb(212, 209, 209);
    color: black;
    margin-top: 60px;
    margin-bottom: 190px;
    text-align: left;
    /*background: #818285;*/
    background: whitesmoke;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebarc ul li a {
    color: black;
    padding: 6px 8px 8px 38px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.sidebarc a:hover {
    background: rgb(193, 224, 246);
    color: black;
}


/* sidebar end */

#sharecrd {
    height: 490px;
    background: whitesmoke;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
    border: none;
    padding: 10px;
}

#sharecrd:hover {
    background: white;
    box-shadow: 0 1px 9px 0 #888888;
}

.bodyc {
    height: 100%;
    margin-left: 300px;
    margin-top: 0px;
    background: whitesmoke;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */


/* searchbar in first page */

form.example input[type=text] {
    padding: 6px;
    padding-left: 9px;
    border-radius: 7px 0px 0px 7px;
    font-size: 14.5 px;
    font-weight: light;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}

form.example button {
    float: left;
    width: 8%;
    border-radius: 0px 7px 7px 0px;
    height: 38px;
    padding: 6px;
    background: rgb(215, 212, 212);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: rgb(195, 194, 194);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
.section_row{
    padding-left: 100px;
}